.delete-icon:hover {
  color: rgb(194, 82, 82);
}
.delete-btn {
  display: none;
}
.model-file:hover .delete-btn {
  display: block;
}

.code-viewer pre {
  margin-top: 0 !important;
  background: none !important;
}
